@use "@styles/variables" as *;

.footer {
  height: $footerHeight;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background: linear-gradient(0deg, $darkColor_One_semi_transparant 0%, $darkColor_One_semi_transparant 90%, $transparent 100%);
  
  p {
    color: $lightColor_One;
    font-size: 14px;
    font-weight: 300;

    &.warning {
      font-size: 12px;
      font-style: oblique
    }
  };
}
