@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "RobofanFree";
  src: url("../assets//fonts/Robofan_Free.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

$headerHeight: 65px;
$footerHeight: 30px;

$darkColor_One: #141414;
$darkColor_One_semi_transparant: #14141480;

$lightColor_One: #dedede;

$premiumColor: #b69c1a;

$transparent: #00000000
