@use "@styles/reset" as *;
@use "@styles/variables" as *;

.app {
  min-height: 100svh;
  max-height: 100svh;
  font-family: "Exo", sans-serif;

  .main {
    min-height: calc(100svh - ($headerHeight + $footerHeight));
    height: calc(100svh - ($headerHeight + $footerHeight));
    max-height: calc(100svh - ($headerHeight + $footerHeight));
  }  
}
